# Copier vers .env : docker compose charge automatiquement .env à la racine du projet
# postgresql://USER:PASSWORD@db:5432/DB

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=base_test

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
